<div class="grid" *ngIf="!targetNeed">
    <div [class]="module==modules.ADM?'col-12 lg:col-6 xl:col-2':'col-12 lg:col-6 xl:col-3'" *ngFor="let card of topCards">
        <app-card [card]="card"></app-card>
    </div>

    <!--Calendario-->
    <ng-container *ngIf="module==modules.SCM">
        <div class="col-12 lg:col-9">
            <div class="card border-round">
                <label class="font-bold">Vendas por Representante</label>
                <div echarts [options]="firstChartOption"></div>
            </div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="card border-round">
                <label class="font-bold">Meta {{targetName}}</label>
                <div echarts [options]="secondChartOption"></div>
            </div>
        </div>
        <!-- <div class="col-6 xl:col-3">
            <div class="card">

            </div>
            <div class="card">

            </div>
        </div> -->
    </ng-container>
    <ng-container *ngIf="module==modules.ADM">
        <div class="col-12">
            <div class="card border-round">
                <label class="font-bold">Meu Plano</label><br><br>
                <p>Plano: <em>{{myPlan?.name}}</em></p>
                <p>Licenças administrativas: {{myPlan?.adm_licenses}}</p>
                <p>Licenças de colaboradores: {{myPlan?.user_licenses}}</p>
                <p>Licenças de representantes: {{myPlan?.repr_licenses}}</p>
                <p>Licenças de logistas: {{myPlan?.store_licenses}}</p>
                <p>Licenças de logistas com I.A: {{myPlan?.istore_licenses}}</p>
                <p>Mensalidade do plano: <strong>{{myPlan?.value | currency}}</strong></p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="module==modules.FPR">

    </ng-container>
    <ng-container *ngIf="module==modules.B2B">

    </ng-container>
    <ng-container *ngIf="module==modules.ORD">
        
    </ng-container>
</div>
<div *ngIf="targetNeed" class="flex flex-row w-full justify-content-center">
    <p-card header="Sem definição de metas">
        <p class="m-0">
            Ainda não foram definidas as metas para visualização do Dashboard, por favor configure-as antes!
        </p>
    </p-card>
</div>