<app-filter [fields]="filters" [(visible)]="filterVisible" [isTrash]="isTrash" (queryToFilter)="doFilter($event)"></app-filter>
<app-form [(visible)]="formVisible" [rows]="formRows" title="Entidade Legal" [registryId]="idToEdit" (objectToSave)="onDataSave($event)"></app-form>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-row w-full justify-content-between align-items-center">
            <div class="align-items-baseline">
                <label class="p-panel-title">{{(type_reg==entity_type.C?"Clientes":(type_reg==entity_type.R?"Representantes":"Fornecedores"))}}</label>
            </div>
            <div class="flex flex-row gap-1">
                <p-popover #pnlMassive>
                    <ng-template pTemplate="content">
                        <h5>Alteração em Massa</h5>
                    </ng-template>
                </p-popover>
                <p-button [rounded]="true" icon="pi pi-plus" [severity]="'success'" styleClass="p-button-sm" pTooltip="Novo registro" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onEditData()"></p-button>
                <p-button [rounded]="true" *ngIf="!isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-trash" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Arquivar selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(true)"></p-button>
                <p-button [rounded]="true" *ngIf="isTrash" [disabled]="tableSelected.length>0?false:true" icon="pi pi-restore-from-trash icon-xsmall" [severity]="'danger'" styleClass="p-button-sm" pTooltip="Restaurar selecionado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onDataDelete(false)"></p-button>
                <p-button [rounded]="true" icon="pi pi-upload" styleClass="p-button-sm" pTooltip="Importar" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="onImport()"></p-button>
                <p-button [rounded]="true" [disabled]="tableSelected.length>0?false:true" icon="pi pi-massive-actions icon-xsmall" [severity]="'help'" styleClass="p-button-sm" pTooltip="Ações Massivas" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="pnlMassive.toggle($event)"></p-button>
                <p-button [rounded]="true" icon="pi pi-filter" [severity]="'warn'" styleClass="p-button-sm" pTooltip="Filtro(s)" tooltipPosition="top" tooltipStyleClass="text-xs" (onClick)="showFilter()"></p-button>
                <p-toggleButton [onIcon]="'pi pi-deleted icon-xsmall'" onLabel="" offLabel="" [offIcon]="'pi pi-deleted icon-xsmall'" styleClass="p-button-sm" pTooltip="Listar arquivado(s)" tooltipPosition="top" tooltipStyleClass="text-xs" [(ngModel)]="isTrash" (onChange)="loadingData({page:0,pageCount:0},isTrash)"></p-toggleButton>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <p-table [value]="this.response.data"
            styleClass="p-datatable-striped"
            dataKey="id"
            [loading]="loading"
            scrollHeight="calc(100vh - 300px)"
            [scrollable]="true" 
            [(selection)]="tableSelected">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50px!important;" class="text-center" pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th style="width: 100px!important;" pFrozenColumn>Ações</th>
                    <th pSortableColumn="fantasy_name" pFrozenColumn>Nome Fantasia <p-sortIcon field="fantasy_name"></p-sortIcon></th>
                    <th pSortableColumn="taxvat">CNPJ/CPF <p-sortIcon field="taxvat"></p-sortIcon></th>
                    <th pSortableColumn="postal_code">CEP <p-sortIcon field="postal_code"></p-sortIcon></th>
                    <th pSortableColumn="city.name">Cidade <p-sortIcon field="city.name"></p-sortIcon></th>
                    <th pSortableColumn="city.state_region.acronym">UF <p-sortIcon field="city.state_region.acronym"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center" pFrozenColumn><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                    <td pFrozenColumn><p-button [text]="true" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" tooltipStyleClass="text-sm" (onClick)="onEditData(item.id)"></p-button></td>
                    <td pFrozenColumn>{{item.fantasy_name}}</td>
                    <td>{{item.taxvat | cnpjCpf }}</td>
                    <td>{{item.postal_code }}</td>
                    <td>{{item.city.name }}</td>
                    <td>{{item.city.state_region.acronym }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" class="text-center">Nenhum registro existente!</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator *ngIf="response.pagination.registers > 0"
            (onPageChange)="loadingData($event)"
            [first]="0"
            [rows]="response.pagination.per_page"
            [totalRecords]="response.pagination.registers"
            styleClass="text-xs mt-2 mb-2"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} de {totalRecords}"
            [showPageLinks]="false"
            [showFirstLastIcon]="false"
            >
        </p-paginator>
    </ng-template>
</p-panel>

<p-dialog header="Importação de Entidades Legais" [(visible)]="showDialogImport" (onHide)="cancelImport()" [modal]="true">
    <div class="flex flex-column m-3">
        <p style="text-align: justify;">Utilize o modelo do link abaixo para realizar o envio dos dados para o servidor</p>
        <a href="/assets/entity-download.csv">Arquivo de exemplo</a>
    </div>
    <p-fileUpload #upl
        [multiple]="false" 
        cancelLabel="Cancelar" 
        chooseLabel="Escolher arquivo" 
        uploadLabel="Anexar"
        chooseStyleClass="p-button-sm"
        uploadStyleClass="p-button-success p-button-sm"
        cancelStyleClass="p-button-danger p-button-sm"
        [url]="url_upload_import"
        name="files[]"
        [withCredentials]="true"
        accept="image/*"
        [headers]="uploadHeaders"
        invalidFileLimitMessageSummary="Número máximo de arquivos excedido."
        invalidFileLimitMessageDetail="Máximo permitido: {0}"
        (onUpload)="uploadDone()"
        ></p-fileUpload>
</p-dialog>