<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-6 surface-ground ng-star-inserted">
        <div class="surface-card align-content-center p-4 shadow-2 border-round w-full lg:w-6">
            <div class="text-center mb-5">
                <img src="assets/images/Fast2Bee.png" alt="Image" height="80">
            </div>
            <div class="flex flex-column w-full gap-2">
                <div class="flex flex-column w-full">
                    <label for="email1" class="block text-900 font-medium mb-2">Login</label>
                    <!-- ng-invalid ng-dirty -->
                    <input pInputText id="email1" type="text" placeholder="e-mail" pInputText class="w-full mb-3" [(ngModel)]="username" [disabled]="true">
                </div>

                <div class="flex flex-row w-full gap-2">
                    <div class="flex flex-column w-full">
                        <label for="password1" class="block text-900 font-medium mb-2">Senha</label>
                        <p-password [toggleMask]="true" styleClass="mb-3" [fluid]="true" [(ngModel)]="password" [feedback]="true" weakLabel="Fraca" mediumLabel="Média" strongLabel="Forte" promptLabel="Digite uma senha" [ngClass]="{'ng-invalid ng-dirty' : sended && !password}"></p-password>
                    </div>

                    <div class="flex flex-column w-full">
                        <label for="password2" class="block text-900 font-medium mb-2">Confirmar senha</label>
                        <p-password [toggleMask]="true" styleClass="mb-3" [fluid]="true" [(ngModel)]="cpassword" [feedback]="true" weakLabel="Fraca" mediumLabel="Média" strongLabel="Forte" promptLabel="Confirme sua senha" [ngClass]="{'ng-invalid ng-dirty' : sended && (!cpassword || password!=cpassword)}"></p-password>
                    </div>
                </div>
                <button pButton label="Redefinir senha" [loading]="loading" class="w-full p-button-sm" (click)="onSubmit()"></button>
            </div>
        </div>
</div>
<p-toast (onClose)="goToHome()"></p-toast>